body{
    position: absolute;
    height: 100%;
    width: 100%;

}

/*搜索*/
.jd_topBar h2{
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: inherit;
    line-height: 44px;
}
/*搜索*/
.jd_topBar form{
    width: 100%;
    height: 44px;
    padding:0 40px;
}
.jd_topBar form input{
    width: 100%;
    height: 32px;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    margin-top: 6px;
}

/*返回菜单*/
.jd_topBar .icon_menu{
    background-position:-60px 0;
    width: 40px;
    height: 44px;
    display: block;
    padding: 12px 10px;

    background-clip: content-box;
    background-origin: content-box;

    position: absolute;
    top: 0;
    right: 0;
}



/*顶部通栏*/
.jd_topbar{
    height: 45px;
    width: 100%;
    background: url("../images/header-bg.png")repeat-x;
    background-size: 1px 44px;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
}


/*返回按钮*/
.jd_topbar .icon_back{
    background-position:-20px 0;
    width: 20px;
    height: 20px;
    display: block;
    margin: 12px 10px;
    position: absolute;
    top:0;
    left:0;
}

/*
!*搜索区块*!
.jd_topbar form{
    width: 100%;
    height: 100%;
    padding: 0 40px;
}

.jd_topbar form input{
    width: 100%;
    height: 32px;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
}


!*返回菜单*!
.jd_topbar .icon_menu{
    background-position:-60px 0;
    width: 40px;
    height: 44px;
    display: block;
    padding: 12px 10px;
    background-clip: content-box;
    background-origin: content-box;
    position: absolute;
    top:0;
    right:0;
}*/
